@import '../../styles/vars';

.step {
  padding: 32px;
}

.image {

  &-wrapper {
    img {
      width: 100%;
    }
  }

  &-random {
    position: relative;
    line-height: 0;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: rgba(@blackColor, .7);
    }

    &.active {
      &:before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: @tabletWidth) {
  .add-tag-label {
    margin-bottom: 32px;
  }

  .buttons-block {
    flex-direction: column-reverse;
  }
}
