@import '../../styles/vars';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @fontBold;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  appearance: none;
  padding: 0 32px;
  margin: 0 12px;
  cursor: pointer;
  transition: all .2s linear;

  &.white {
    color: @blackColor;
    background-color: @grayColor;
    border: 2px solid @darkBlueColor;

    &:hover {
      color: @whiteColor;
      background-color: @darkBlueColor;
      border-color: @darkBlueColor;
    }
  }

  &.blue {
    color: @whiteColor;
    background-color: @darkBlueColor;
    border: 2px solid @whiteColor;

    &:hover {
      color: @blackColor;
      background-color: @grayColor;
    }
  }

  &.gray {
    color: @blackColor;
    background-color: @grayColor;
    border: 2px solid @grayColor;

    &:hover {
      background-color: @darkGrayColor;
      border-color: @darkGrayColor;
    }
  }

  &.md {
    height: 40px;
  }

  &.lg {
    height: 48px;
  }

  &.full-width {
    width: 100%;
    margin: 0;
  }

}
