@import 'vars';

body {
  font-family: @fontRegular, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @blackColor;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: @desktopWidth;
  min-width: 340px;
  margin: 0 auto;
}

h2 {
  font-family: @fontBold;
  font-size: 24px;
  line-height: 24px;
  color: @blackColor;
  margin-bottom: 24px;
}

span.sub-header {
  display: inline-block;
  font-family: @fontRegular;
  font-size: 16px;
  line-height: 24px;
  color: @darkGrayColor;
  margin-bottom: 32px;
}

input, textarea {
  display: inline-block;
  width: 100%;
  font-family: @fontRegular;
  font-size: 16px;
  color: @blackColor;
  padding: 14px 0;
  border: none;
  outline: none;
  background-color: @grayColor;
  border-bottom: 2px solid @lightBlueColor;

  &:hover,
  &:focus {
    border-color: @darkBlueColor;
  }
}

textarea {
  height: 100px;
  resize: none;
}

label {
  width: 100%;
  display: inline-block;
}

.label-text {
  width: 100%;
  display: inline-block;
  font-family: @fontBold;
  font-size: 18px;
  line-height: 24px;
  color: @blackColor;
}

.error-label {
  color: @errorColor;
}

a {
  text-decoration: none;
}

a.link {
  display: inline-block;
  font-family: @fontBold;
  color: @normalBlueColor;
  margin-left: 2px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.mt {
  &-16 {
    margin-top: 16px;
  }

  &-32 {
    margin-top: 32px;
  }
}

.mb {
  &-16 {
    margin-bottom: 16px;
  }

  &-24 {
    margin-bottom: 24px;
  }

  &-32 {
    margin-bottom: 32px;
  }
}
