@desktopWidth: 1300px;
@tabletWidth: 768px;
@mobileWidth: 568px;

@fontLight: 'Roboto-Light';
@fontRegular: 'Roboto-Regular';
@fontMedium: 'Roboto-Medium';
@fontBold: 'Roboto-Bold';

@whiteColor: #ffffff;
@grayColor: #f2f2f2;
@darkGrayColor: #a9a9a9;
@lightBlueColor: #8facca;
@normalBlueColor: #4979ab;
@darkBlueColor: #346e97;
@blackColor: #212221;
@errorColor: #D8000C;
