@import '../../styles/vars';

.header {
  height: 78px;
  padding: 20px;
  background-color: @lightBlueColor;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);

  &-wrapper {
    display: flex;
  }

  &-left {
    display: flex;
    width: 30%;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }

  .title {
    font-family: @fontLight;
    font-size: 40px;
    color: @whiteColor;
    margin-left: 12px;
  }

  .desktop-title,
  .tablet-title {
    display: none;
  }

  .add-link-button-text {
    margin-left: 8px;
    text-decoration: none;
  }

  .form {
    width: 500px;
    min-width: 280px;
    padding: 32px;
  }

}

@media only screen and (min-width: @tabletWidth) {
  .header .desktop-title {
    display: inline-block;
  }
}

@media only screen and (min-width: @mobileWidth) and (max-width: @tabletWidth) {
  .header .tablet-title {
    display: inline-block;
  }
}

@media only screen and (max-width: @mobileWidth) {
  .header .form {
    width: 90vw;
  }
}
